<footer>
  {{#if (and (eq (getCurrentYear) "2017"))}}
  <p>Created by - JE. copyright {{getCurrentYear}}</p>
  {{else}}
  <p>Created by - Frank McFace Face. copyright {{getCurrentYear}}</p>
  {{/if}}
</footer>
