<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test Website</title>
</head>
<body>
  {{> header}}
  <div>
    my very easy method just speeds up naming planets
  </div>
  {{> footer}}
</body>
</html>
